.content {
  min-height: 250px;
  padding: 0px 6px 6px 6px;
  margin-right: auto;
  margin-left: auto;
}

/**
 * altera a cor do side bar
 */
.skin-blue .wrapper,
.skin-blue .main-sidebar,
.skin-blue .left-side {
  /*
   background-color: #530082 !important;
   */
  background-color: #40364d !important;
}

/**
 * Diminui o tamanho da sidebar
 */
.sidebar-mini.sidebar-collapse .main-sidebar {
  width: 45px !important;
}

.sidebar-mini.sidebar-collapse .main-header .logo {
  width: 40px !important;
}

.sidebar-mini.sidebar-collapse .main-header .navbar {
  margin-left: 45px !important;
}

.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse
  .sidebar-menu
  > li:hover
  > a
  > span:not(.pull-right),
.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse
  .sidebar-menu
  > li:hover
  > .treeview-menu {
  left: 45px;
}

/**
  * altera a cor da navbar
  */
.skin-blue .main-header .navbar {
  background-color: #e98531;
}

.fixed .main-header {
  height: 30px !important;
}

.main-header .navbar {
  min-height: 35px !important;
}

.skin-blue .main-header .logo {
  background-color: #40364d;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}

.menu-title-sidebar {
  font-weight: bold;
  text-transform: uppercase;
}

.skin-blue .main-header li.user-header {
  background-color: #40364d;
}

.btn-primary {
  background-color: #967adc;
  border-color: #967adc;
  font-size: 14px;
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.hover {
  background-color: #967adc;
}

.error {
  color: red;
}

.has-warning {
  border-color: #f39c12;
  box-shadow: none;
}

.has-warning-select {
  border: 1px solid #f39c12;
}

.box-title-up {
  text-transform: uppercase;
  font-size: 15px !important;
  font-weight: bold;
}

.box-header {
  padding-bottom: 0px !important;
}

.box.box-primary {
  border-top-color: #e98531;
}

.box.box-purple {
  border-top-color: #967adc;
}

.table {
  font-size: 12px;
}

/*
  * modals
  */
@media (min-width: 768px) {
  .modal-xl {
    min-width: 99% !important;
    width: 99%;
  }
}

/*
 * modals
 */
@media (min-width: 768px) {
  .modal-md {
    width: 80%;
  }
}

/*
 * modals
 */
@media (min-width: 200px) {
  .modal-sm {
    width: 50% !important;
  }
}

/**
 * modals round
 */
.boxshadow {
  -moz-box-shadow: 3px 3px 5px #535353;
  -webkit-box-shadow: 3px 3px 5px #535353;
  box-shadow: 3px 3px 5px #535353;
}
.roundbox {
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px 6px 6px 6px;
}

.tableFixHead {
  overflow-y: auto;
  max-height: calc(100vh - 340px) !important;
}

.tableFixHead table {
  border-collapse: collapse;
  width: 100%;
}

.tableFixHead th,
.tableFixHead td {
  padding: 8px 16px;
}

.tableFixHead th {
  position: sticky;
  top: 0;
  background: rgba(65, 54, 78, 0.86);
  color: #ffffff;
  text-transform: uppercase;
}

.tableFixHead a {
  color: inherit;
}

tbody > tr > td {
  text-transform: uppercase !important;
}

.div-120 {
  width: 120px;
}

.div-140 {
  width: 140px;
}

.div-160 {
  width: 160px;
}

.div-180 {
  width: 180px;
}

.success {
  color: green;
}

.error {
  color: red;
}

.position-alert {
  position: absolute;
  top: 0px;
  z-index: 99999;
  width: 100%;
  left: 0px;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.text-table {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/** cores status da reserva **/
.status-total {
  color: #000000;
}
.status-reserve {
  color: #000000;
}
.status-documentation {
  color: blue;
}
.status-analyzing {
  color: green;
}
.status-register {
  color: darkgreen;
}
.status-pending {
  color: orange;
}
.status-signed {
  color: darkblue;
}
.status-signed-with-pending {
  color: rgb(4, 4, 56);
}
.status-final-activities {
  color: rgb(0, 0, 22);
}
.status-canceled {
  color: red;
}

.status-resolved {
  color: green;
}

label {
  font-weight: normal;
}

.historic_list p {
  margin-bottom: 0px !important;
}

/* sweet alert */
.swal-footer {
  background-color: rgb(245, 248, 250);
  margin-top: 32px;
  border-top: 1px solid #e9eef1;
  overflow: hidden;
}

.swal-button--confirm {
  padding: 7px 50px;
  border-radius: 2px;
  font-size: 12px;
  border: none;
}

.swal-button {
  padding: 7px 50px;
}

.swal-overlay--show-modal,
.swal-modal {
  animation: none !important;
}

::-webkit-scrollbar {
  width: 0.2em;
  height: 0.2em;
}
::-webkit-scrollbar-button {
  background: #ccc;
}
::-webkit-scrollbar-track-piece {
  background: #888;
}
::-webkit-scrollbar-thumb {
  background: #eee;
}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 5px 0px 0px 0px;
  border-radius: 4px;
}

/** checkbox do select **/
.radio,
.checkbox {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}


/** SLIDER **/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #e98531;
}

input:focus + .slider {
  box-shadow: 0 0 1px #e98531;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}